.Post {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin: auto;
    margin-bottom: 20px;
    width: 400px; 
    height: 450px;

    /* width: 40%;
    height: 28rem; */
    /* height: 40rem; */
    border-radius: 5px;
    margin-top: 40px;
    
}
.postimages {
    /* width: 35rem; */
    width:100%;
    /* height: 480px; */
    height: 250px;
    /* margin-left:15px; */
}

.nav{
    display: flex;
    justify-content: space-between;
}